.avis {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e4fc;

  h3 {
    color: black;
    font-size: 1.5rem;
  }

  strong {
    font-weight: bold;
    color: var(--color3);
  }
}

.avis__texts {
  @include mediumScreen() {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
  }

  @include giantScreen() {
    justify-content: center;
    gap: 10rem;
  }
}

.avis__avis {
  margin: 1rem 0;

  @include giantScreen() {
    width: 20vw;
  }
}

.avis__stars {
  text-align: center;
  margin-bottom: 1rem;

  svg {
    margin: 0.1rem;
    color: var(--color3);
  }
}

.avis__comment {
  text-align: justify;
}

.avis__auteur {
  font-size: 0.8rem;
  margin-top: 1rem;
}
