.description {
  margin: 1rem 0;
  padding: 0.5rem 0.25rem;
  border: solid 1.5px var(--color2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 2.5rem;
  overflow: hidden;

  h4 {
    font-size: 1.1rem;
  }
}

.description__title {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  align-items: center;
}

.description--open {
  height: max-content;
}

.description__caracteristics {
  text-align: center;
  @include mediumScreen() {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}

.description__list {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}

.list__title {
  font-weight: bold;
  list-style-type: none;
}

.description__more {
  cursor: pointer;
}
