.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  padding: 1rem;
  width: 100vw;
  background-color: var(--color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  @include bigScreen() {
    height: 4rem;
  }
}

.header__menu {
  position: fixed;
  transform: translateY(-110%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--color2);
  color: black;
  list-style: none;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  align-items: center;
  box-shadow: 0 0 2em black;

  @include mediumScreen() {
    width: 50vw;
    height: max-content;
  }

  @include bigScreen() {
    width: 20vw;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.menu__close {
  display: none;
}

.showMenu {
  transform: translateY(0);
}

.header__hamburger {
  position: fixed;
  height: 2rem;
  width: 2rem;
  z-index: 100;
  top: 0.5rem;
  left: 0.5rem;
  padding: 4px;
  border: black solid 1px;
  border-radius: 20%;
  background: var(--color2);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @include bigScreen() {
    top: 1rem;
    left: 1rem;
  }
}

.header__title {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}

.header__basket {
  height: 1.5rem;
  width: 1.5rem;
}
