.product {
  padding: 1rem;
}

.product__general {
  text-align: center;
}

.product__text {
  margin: auto;
  @include bigScreen() {
    width: 50vw;
  }
}

.product__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color2);
}

.product__product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  align-items: center;
  margin: 1rem;

  @include bigScreen() {
    margin: 3rem;
    flex-direction: row;
    align-items: flex-start;
  }
}

.product__image {
  max-height: 80vh;
  width: auto;
  box-shadow: 0 0 2em black;
}

.product__informations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.25rem;

  @include bigScreen() {
    padding: 2rem;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.product__important {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @include bigScreen() {
    gap: 1rem;
  }
}

.product__name {
  font-weight: bold;
  font-size: 1.25rem;
}

.product__sale {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.product__price {
  font-weight: bold;
}

.description {
  border: solid 1px var(--color2);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  overflow: hidden;
  height: 4rem;
}

.description__title {
  font-size: 1.25rem;
  font-weight: bold;
}
