#timer {
  margin-top: 4rem;

  p {
    text-align: center;
  }

  p:last-of-type {
    font-weight: bold;
  }

  @include bigScreen() {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
}
